.resources__logo {
  margin: 0;
  width: 270px;
  height: 38px;
  list-style-type: none;
  transition: 2s;
}

.resources__logo:hover {
  opacity: 0.4;
}

img {
  width: 270px;
  height: 38px;
}

/* Задаю размер img т.к. иначе картинки меньше блока */


